.homepage {
  padding: 0 2rem;
  height: calc(100vh - 4.5rem);
  overflow-y: scroll;
}

.homepage h2 {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
}

.latestEpisodes ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.latestEpisodes ul li {
  background: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 1rem;
  padding: 0.3rem 0 0.3rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.latestEpisodes ul li img {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
}

.latestEpisodes ul li .episodeDetails {
  flex: 1;
  margin-left: 1rem;
  max-width: 73%;
}

.latestEpisodes ul li .episodeDetails a {
  display: block;
  color: var(--gray-800);
  font-family: Lexend, sans-serif;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.4rem;
}

.latestEpisodes ul li .episodeDetails a:hover {
  text-decoration: underline;
}

.latestEpisodes ul li .episodeDetails p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.latestEpisodes ul li .episodeDetails span {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  text-transform: capitalize;
}

.latestEpisodes ul li .episodeDetails span:first-of-type {
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
}

.latestEpisodes ul li .episodeDetails span:first-of-type::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #ddd;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.latestEpisodes ul li button {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 0.675rem;
  font-size: 0;
  transition: filter 0.2s, background-color 0.2s;
}

.latestEpisodes ul li button img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0;
}

.latestEpisodes ul li button.pauseButton {
  background: var(--green-500);
}

.latestEpisodes ul li button.pauseButton img {
  width: 1rem;
  height: 1rem;
}

.latestEpisodes ul li button:hover {
  filter: brightness(0.95);
}

.allEpisodes table {
  width: 100%;
  font: 500 Lexend, sans-serif;
  text-align: left;
}

.allEpisodes table th {
  border-bottom: 2px solid var(--gray-100);
  padding: 0.75rem 0.3rem;
  font-size: 0.75rem;
  color: var(--gray-200);
}

.allEpisodes table td {
  border-bottom: 2px solid var(--gray-100);
  padding: 0.75rem 0.3rem;
  font-size: 0.875rem;
}

.allEpisodes table td img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.65rem;
}

.allEpisodes table td a {
  text-decoration: none;
  color: var(--gray-800);
  font-weight: 600;
  line-height: 1.4rem;
}

.allEpisodes table td a:hover {
  text-decoration: underline;
}

.allEpisodes table td button {
  width: 2rem;
  height: 2rem;
  background: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 0.5rem;
  font-size: 0;

  transition: filter 0.2s, background-color 0.2s;
}

.allEpisodes table td button:hover {
  filter: brightness(0.95);
}

.allEpisodes table td button img {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0;
}

.allEpisodes table td button.pauseButton {
  background: var(--green-500);
}

.allEpisodes table td button.pauseButton img {
  width: 0.875rem;
  height: 0.875rem;
}

@media (max-width: 720px) {
  .homepage {
    padding: 0 0.5rem;
    overflow-y: scroll;
    margin-top: 3.5rem;
    margin-bottom: 5rem;
  }
  .latestEpisodes h2 {
    margin-top: 1rem;
  }

  .latestEpisodes ul {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }

  .latestEpisodes ul li {
    padding: 0.5rem;
  }

  .latestEpisodes ul li img {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
  }

  .latestEpisodes ul li .episodeDetails {
    flex: 1;
    margin-left: 0.7rem;
    max-width: 80%;
  }

  .latestEpisodes ul li .episodeDetails a {
    color: var(--gray-800);
    line-height: 1.2rem;
    font-size: 0.9rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .latestEpisodes ul li .episodeDetails p {
    font-size: 0.9rem;
    margin-top: 0.3rem;
    max-width: 85%;
  }

  .latestEpisodes ul li .episodeDetails span {
    margin-top: 0.3rem;
    font-size: 0.7rem;
  }

  .latestEpisodes ul li button {
    right: 0.5rem;
    bottom: 0.5rem;
    height: 2.3rem;
    width: 2.3rem;
    font-size: 0;
    transition: filter 0.2s, background-color 0.2s;
  }

  .latestEpisodes ul li button img {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 0;
  }

  .allEpisodes table thead {
    display: none;
  }

  .allEpisodes table tr td:first-child {
    display: none;
  }

  .allEpisodes table tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }

  .allEpisodes table tr {
    display: block;
    border-bottom: 2px solid var(--gray-100);
    padding: 0.7rem 0;
  }
  .allEpisodes table tr td {
    border: 0;
    margin: 0.1rem 0;
    padding: 0;
    line-height: 1.3rem;
  }
  .allEpisodes table tbody td.episodeTitle,
  .episodeMembers {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .allEpisodes .playControl {
    display: flex;
    justify-content: flex-end;
  }

  .allEpisodes .episodePublishedAt,
  .episodeDuration {
    position: relative;
    display: flex;
    align-items: center;
  }

  .allEpisodes .episodePublishedAt::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #ddd;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translate(50%, -50%);
  }
}
