.headerContainer {
  background: var(--white);
  height: 4.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

  border-bottom: 1px solid var(--gray-100);
  box-shadow: 0 2px 6px var(--gray-500);
  position: relative;
  z-index: 998;
}

.headerContainer p {
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: 1px solid var(--gray-100);
}

.headerContainer span {
  margin-left: auto;
  text-transform: capitalize;
}

@media (max-width: 960px) {
  .headerContainer {
    padding: 1rem;
  }
}

@media (max-width: 720px) {
  .headerContainer {
    width: 100%;
    height: 3.5rem;
    padding: 0.5rem;
    position: fixed;
  }

  .headerContainer img {
    width: 7rem;
  }

  .headerContainer p {
    margin-left: 1rem;
    padding-left: 1rem;
  }
}
