.playerContainer {
  padding: 3rem 3rem;
  height: 100vh;
  width: 20rem;
  background: var(--purple-500);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.playerContainer header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.playerContainer strong {
  font-family: Lexend, sans-serif;
  font-weight: 500;
}

.emptyPlayer {
  background: linear-gradient(
    143.8deg,
    rgba(145, 100, 250, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 20rem;
  border: 2px dashed var(--purple-300);
  border-radius: 1.5rem;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.playerContainer footer {
  align-self: stretch;
}

.playerContainer footer.empty {
  opacity: 0.5;
}

.progress {
  display: flex;
  align-items: center;
  margin: 3rem 0 1rem;
  gap: 0.3rem;
  font-size: 0.875rem;
}

.progress span {
  display: inline-block;
  width: 4rem;
  text-align: center;
}

.slider {
  flex: 1;
}

.slider .emptySlider {
  width: 100%;
  height: 4px;
  background: var(--purple-300);
  border-radius: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1rem;
}

.buttons button {
  background: transparent;
  border: 0;
  font-size: 0;
}

.buttons button.playButton {
  background: var(--purple-400);
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}
