.playerContainer {
  padding: 1.5rem 1.5rem 2rem;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  width: 22rem;
  background: var(--purple-500);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.playerContainer > button {
  display: none;
}

.playerContainer header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.playerContainer strong {
  font-family: Lexend, sans-serif;
  font-weight: 500;
}

.currentEpisode {
  text-align: center;
  margin-top: 1rem;
}

.currentEpisode img {
  border-radius: 1.5rem;
  height: 12rem;
}

.currentEpisode strong {
  display: block;
  margin-top: 1rem;
  font: 600 1.1rem Lexend, sans-serif;
  line-height: 1.5rem;
  max-height: 6rem;

  overflow-y: hidden;
}

.currentEpisode span {
  display: block;
  margin-top: 0.8rem;
  opacity: 0.6;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.emptyPlayer {
  background: linear-gradient(
    143.8deg,
    rgba(145, 100, 250, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 20rem;
  border: 2px dashed var(--purple-300);
  border-radius: 1.5rem;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.playerContainer footer {
  align-self: stretch;
}

.playerContainer footer.empty {
  opacity: 0.5;
}

.progress {
  display: flex;
  align-items: center;
  margin: 2rem 0 0rem;
  gap: 0.3rem;
  font-size: 0.875rem;
}

.progress span {
  display: inline-block;
  width: 4rem;
  text-align: center;
}

.slider {
  flex: 1;
}

.slider .emptySlider {
  width: 100%;
  height: 4px;
  background: var(--purple-300);
  border-radius: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.buttons button {
  background: transparent;
  border: 0;
  font-size: 0;

  transition: filter 0.2s;
}

.buttons button:disabled {
  cursor: default;
}

.playerContainer footer:not(.empty) .buttons button:disabled {
  opacity: 0.5;
}

.buttons button.playButton {
  background: var(--purple-400);
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}

.buttons button:hover:not(:disabled) {
  filter: brightness(0.8);
}

.buttons button.playButton:hover:not(:disabled) {
  filter: brightness(0.98);
}

.buttons button.isActive {
  filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
}

.buttons button.isActive:hover {
  filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
}

@media (max-width: 720px) {
  .playerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding-top: 1rem;

    transition: height 0.3s;
  }

  .playerContainer > button {
    display: block;
    position: absolute;
    top: 1rem;
    left: 2rem;
    background: transparent;
    border: 0;
    transform: rotate(-90deg);
  }

  .playerContainer .currentEpisode {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }

  .playerContainer .currentEpisode .thumbnailContainer {
    height: 8rem;
    width: 8rem;
  }

  .playerContainer .currentEpisode .thumbnailContainer > div {
    height: 100%;
    width: 100%;
  }

  .playerContainer .currentEpisode .details {
    margin-left: 1rem;
    align-items: center;
    text-align: left;

    width: 70%;
  }

  .playerContainer .currentEpisode .details strong {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .playerContainer footer .progress {
    padding: 0 5rem;
  }

  .playerContainer footer .progress .slider {
    margin: 0 0.5rem;
  }

  .playerContainer .buttons {
    margin-top: 1rem;
  }

  .playerContainer.collapsed header,
  .playerContainer.collapsed .progress,
  .playerContainer.collapsed > button {
    display: none;
  }

  .playerContainer.collapsed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5rem;
    padding: 0.2rem 0.5rem;

    display: flex;
    flex-direction: row;
  }

  .playerContainer.collapsed .currentEpisode {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin: 0;
    margin-top: 0.2rem;
    gap: 1rem;
  }

  .playerContainer.collapsed .currentEpisode .thumbnailContainer {
    height: 4rem;
    width: 4rem;
  }

  .playerContainer.collapsed .currentEpisode .thumbnailContainer img {
    border-radius: 0.5rem;
  }

  .playerContainer.collapsed .currentEpisode .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;

    width: 85%;
  }

  .playerContainer.collapsed .currentEpisode .details strong {
    display: block;
    margin-top: 0;
    font: 600 1rem Lexend, sans-serif;
    line-height: 1rem;
    max-height: 2rem;
    max-width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .playerContainer.collapsed .currentEpisode .details span {
    display: block;
    margin-top: 0.3rem;
    opacity: 0.6;
    font-size: 0.8rem;
    line-height: 1.2rem;
    max-width: 13rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .playerContainer.collapsed .buttons {
    padding-right: 1rem;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;

    height: 100%;
    margin: 0;
    margin-left: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .playerContainer.collapsed .buttons button.playButton {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 0.3rem;
    background: transparent;
  }

  .playerContainer.collapsed .emptyPlayer {
    height: 4rem;
    margin-top: 0.2rem;
  }
}

@media (max-width: 480px) {
  .playerContainer .currentEpisode {
    display: block;
  }

  .playerContainer .currentEpisode .thumbnailContainer {
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
  }

  .playerContainer .currentEpisode .details {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-left: 0;
  }

  .playerContainer footer .progress {
    padding: 0;
  }

  .playerContainer.collapsed .currentEpisode .details {
    width: 15rem;
    margin-top: 0;
  }

  .playerContainer.collapsed .currentEpisode .details strong {
    max-width: 20rem;
  }

  .playerContainer.collapsed .currentEpisode .details span {
    max-width: 13rem;
  }

  .playerContainer.collapsed .buttons button:not(.playButton) {
    display: none;
  }
}
